<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="FSTTests" thread-count="4" parallel="classes"> <!-- Test Suite -->
    <groups> <!-- Groups Control -->
        <run>
            <include name="HeaderTests" />
        </run>
    </groups>
    <parameter name="username" value="admin" />
    <parameter name="password" value="password" />
    <test name="FSTActivities"> <!-- Test Classes -->
        <classes>
            <class name="example.Activity5" />
            <class name="example.Activity6" />
            <class name="suiteExample.DemoOne" />
            <class name="suiteExample.DemoTwo" />
        </classes>
    </test>
</suite>